[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/garthmbooth
[access "refs/for/refs/*"]
	read = group user/garthmbooth
	push = group user/garthmbooth
	label-Code-Review = -2..+2 group user/garthmbooth
	label-Verified = -1..+1 group user/garthmbooth
	rebase = group user/garthmbooth
	removeReviewer = group user/garthmbooth
	submit = group user/garthmbooth
[access "refs/heads/*"]
	read = group user/garthmbooth
	create = group user/garthmbooth
	push = +force group user/garthmbooth
	pushMerge = group user/garthmbooth
[access "refs/tags/*"]
	push = +force group user/garthmbooth
	pushTag = group user/garthmbooth
	pushSignedTag = group user/garthmbooth
